<div class="mb-2 lg:w-9/12 flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
    <div class="flex">
        <div>
            <p class="text-xl"><strong><%= time_start %></strong> - <%= time_end %></p>
        </div>
        <div class="inline-block ml-4">
            <p><strong><%= description %></strong></p>
            <p><%= location %></p>
        </div>
    </div>
</div>